html{
    scroll-snap-type: y mandatory;
}
.app{
    height: 100vh;
    background-color: rgb(90, 26, 26);
    display: grid;
    place-items: center;
}
.app__videos{
    position: relative;
    height:100vh;
    overflow: scroll;
    width: 60vh;
    max-width: 500px;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
}
/* Hide Scrollbar for chrome safari and opera*/
.app__videos::-webkit-scrollbar{
    display: none;
}
/* Hide Scrollbar for IE and edge and Firefox*/

.app__videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
