.videoFootter{
    position: relative;
    bottom: 150px;
    color: wheat;
    display: flex;
    margin-left: 20px;

}
.videoFootter__text{
    flex: 1;
   
}
.videoFootter__text >h3{
    padding-bottom: 20px;
   
}
.videoFootter__text > p{
    padding-bottom: 20px;

}
.videoFootter__ticker > p{
    padding-top: 7px;
    font-size: 12px;

}
.videoFootter__ticker > .ticker{
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

.videoFootter__icon{
position: absolute;
}
.videoFootter__record{
    animation: spinR infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}

@keyframes spinR{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}